langchain
langchain-community
langchain-experimental
fastapi
python-dotenv
uvicorn
pydantic
httpx
requests
langchain_tavily
langchain_groq
langchain_openai
langgraph
python-dateutil
colorama
rich
newsapi-python
speechrecognition
pydub
pyaudio

-e .
